:root {
  --background-primary: ;
  --text-color-primary: ;
  --text-color-secondary: ;
  --header-color: ;
  --header-height: 4em;
  --header-text-color: ;
  --input-text-color: ;
  --input-placeholder-color: ;
  --input-background-color: ;
  --input-border-color: ;
  --input-border-size: 0.1em;
}
